<html>
    <body>
        <div>
            {% if user and user.is_authenticated() %}
                Hello {{ user.email }}! <a href="{{ url_for('security.logout') }}">Logout</a>
            {% else %}
                Welcome anonymous user!
                <a href="{{ url_for('security.login') }}">Login</a>&nbsp;<a href="{{ url_for('security.register') }}">Register</a>
            {% endif %}
        </div>
        <div>
            <a href="{{ url_for('admin.index') }}">Go to admin!</a>
        </div>
    </body>
</html>
